<h3>Filters</h3>
<div class="filter">
    <h4>Launch Year</h4>
    <div class="btn-wrapper">
        <button (click)="onFilter({'launch_year':year })" *ngFor="let year of years">{{year}}</button>
    </div>
</div>

<div class="filter">
    <h4>Successful Launch</h4>
    <div class="btn-wrapper">
        <button (click)="onFilter({'launch_success':true })">True</button>
        <button (click)="onFilter({'launch_success':false })">False</button>
    </div>
</div>


<div class="filter">
    <h4>Successful Landing</h4>
    <div class="btn-wrapper">
        <button (click)="onFilter({'land_success':true})">True</button>
        <button (click)="onFilter({'land_success':false})">False</button>
    </div>
</div>